   
* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px ;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.banner{
   background-image: url(./image/leone-venter-VieM9BdZKFo-unsplash.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   padding:200px 0 ;


}

